<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BlenderBoi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link href="/style.css" rel="stylesheet">

  <style>


  
  </style>



  </head>
  <body>


    <header style="display: flex; align-items: center; justify-content: space-between; background-color: var(--bg1); position: sticky; top: 0; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">


      <div style="display: flex; align-items: center;">
      <div>
        <a class="logo" href="/" style="display: flex; align-items: center;">
          <img src="/favicon.png" height=64px class="logo-img" alt="BlenderBoiLogo"/>
          <h1 style="font-size: 32px; font-family: DejaVuSans; font-weight: bold; color: var(--fc0); padding-top: 0.2em;">BlenderBoi</h1>

        </a>


      </div>
        <a style="padding-left: 2em;" href="/">Addons</a>
          <!-- <input style="height: 2em; min-width: 20em; max-width: 100em; margin-left: 2em;" type="text" placeholder="Search Addon"> -->
      </div>

      <div>





            <div style="display: flex; align-items: center;">

              <a class="icon" target="blank" title="Donation" style="" href=""><iconify-icon icon="mdi:donation"></iconify-icon></a>
              <a class="icon" target="blank" title="Github" style="" href="https://github.com/BlenderBoi"><iconify-icon icon="mdi:github"></iconify-icon></a>
              <a class="icon" target="blank" title="Youtube" style="" href="https://www.youtube.com/@blenderboi2018"><iconify-icon icon="mdi:youtube"></iconify-icon></a>
              <a class="icon" target="blank" title="Discord" style="" href="https://discord.com/invite/EvMJxBM"><iconify-icon icon="ic:baseline-discord"></iconify-icon></a>
              <a class="icon" target="blank" title="Gumroad" style="" href="https://blenderboi.gumroad.com/"><iconify-icon icon="cib:gumroad"></iconify-icon></a>
              <a class="icon" target="blank" title="Blender Market" style="" href="https://blendermarket.com/creators/blenderboi"><iconify-icon icon="healthicons:market-stall"></iconify-icon></a>


            </div>


      </div>

    </header>


    {{ block "main" . }}


    {{end}}



  
  </body>
</html>
