
{{ define "main" }}


      {{ .Content }}

      <h1 style="padding: 1em 0; text-align: center">Blender Addons</h1>

      <div class="list-grid">
      {{ range sort site.RegularPages "Params.priority" "asc"}}
      <div>
          <a href="{{.Permalink}}">
            <div class="card" style="display: flex; flex-direction: column; justify-content: space-between;">
              <img class="thumbnail" src={{.Params.banner}}></img><br>
              <span class="banner-title">{{.Title}}</span>
              <a href="{{.Params.download}}" class="quick-download" style="display: flex; align-items: center; justify-content: center;">

              <iconify-icon icon="ic:baseline-file-download"></iconify-icon>
                Download
              </a>
            </div>
          </a>
      </div>
    
      {{end}}
      </div>

{{end}}


