
















{{define "main"}}



    <div style="display: flex; background-color: var(--bg2); justify-content: center;">
      <div style="background-color: var(--bg0); padding: 0 5em; width: 1300px; max-width: 1300px; word-wrap: break-word; overflow-wrap: break-word;">



        <h1 style="font-size: 2.5em; margin-top: 1em;">{{.Title}}</h1>
        <img src="{{.Params.banner}}" width="100%" alt="Banner"></img>
        <a href="{{.Params.download}}">
        <button class="download-button">  


              <iconify-icon icon="ic:baseline-file-download"></iconify-icon>

          &nbsp Download </button>
        </a>
        {{.Content}}


      </div>
    </div>


  
    {{end}}
